*{
  text-decoration:none;
  margin:0;
  padding:0;
  }
  
  
  /*1 Always*/
  body{
    margin:0px;
    background-color: #a88397;
  }
  a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    height: fit-content;
  }
  footer{
    background-color: #42343c;
    height: fit-content;
    font-size: 14px;
    color: white;
    bottom: 0;
    width: 100%;
    margin-top: 1fr;
  }
  p {
    font-size: 1rem;
    text-align: center;
  }
  /*Nav Always*/
  .header{
    background-color: #5D4954;
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  .header .logo {
    display: block;
    float: left;
    margin: 0%;
    padding: 0px;
    padding-left: 0px;
    font-size: 45px;
    color: white;
    font-family: 'Poppins', sans-serif;
    width: auto;
  }
  .header ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    overflow: hidden;
    background-color: #5D4954;
  }
  li > a{
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
  }
  h1{
    margin: 0%;
    height: 67px;;
    display: inline-block;
    font-size: 45px;
  }
  
  @media (max-width: 1300px) {
    h1{
      width: calc(100% - 64px);
    }
    h1 div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 58px;
    }
  }
  
  /*Hover*/
  li > a:hover, #center > a .noticia1:hover, #center > .noticia2:hover, #center > .noticia3:hover{
    background-color: #42343c;
    cursor: pointer;
  }
  li:hover{
    background-color: #42343c;
    cursor: pointer;
  }
  
/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 20px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 7px;
}

.header .menu-icon .navicon:after {
  top: -7px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 100vh;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
  
  
  /*2 Nav Mobile*/
  @media (min-width: 1300px) {
    .header .logo {
    display: block;
    padding: 10px;
    margin: 0%;
    padding-left: 10px;
    font-size: 45px;
    color: white;
    font-family: 'Poppins', sans-serif;
    width: auto;
    }
    .header ul{
      height: 67px;
    }
    .header li {
      float: left;
      padding: 17px 30px;
      font-size: 21px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
    h1 div{  
      height: 67px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 10px;
      width: 100px;
    }
  }
  
  
  /*3 Nav Menu Mobile*/
  @media (max-width: 1300px) {
    .header li a{
      display: block;
      list-style: none;
      overflow: hidden;
      margin-left: auto;
      margin-right: auto;
      width: auto;
      padding: 20px 30px;
      font-size: 24px;
    }
    .header .menu{
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    height: 100vh;
    }
  }
  
  svg.svg-inline--fa.fa-twitter.fa-w-16, .svg-inline--fa.fa-facebook-f.fa-w-10, .svg-inline--fa.fa-youtube.fa-w-18, .svg-inline--fa.fa-instagram.fa-w-14{
    color: white;
    height: 30px;
    width: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .redes{
    width: 40px;
    height: 30px;
    display: inline-block;
  }
  #sociales{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 171px;
  }
  footer p{
    padding: 4px 0px;
  }
  #seguinos{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  }

  .card{
  grid-area: card;
  display: grid;
  grid-template-columns: 230px auto;
  grid-template-rows: auto;
  grid-template-areas:"imagen texto";
  background-color: #5D4954;
  height: 230px;
  border-radius: 15px;
  }
  .card img{
      width: 200px;
      border-radius: 50%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20.28px;
  }
  .imagen{
  grid-area: imagen;
  }
  .texto{
      grid-area: texto;
      color: white;
      font-family: 'Poppins', sans-serif;
      display: flex;
      justify-content: center;
      flex-direction: column;
      /* font-size: 1.2em; */
      text-align: justify;
      padding-right: 15px;
      /* font-size: calc(14px + 6 * ((100vw - 320px) / 680)); */
      font-size: calc(10px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  }
  .center{
  display: grid;
  grid-template-columns: 8vw 84vw 8vw;
  grid-template-rows: auto 230px auto;
  grid-template-areas:
  "nada1 vacio1 nada2"
  "nada1 card nada2"
  "nada1 vacio2 nada2";
  height: 82.3vh;
  padding-top: 68px;
  }
@media (max-width: 720px){
  .card{
      grid-area: card;
      display: grid;
      grid-template-columns: 350px;
      grid-template-rows: auto auto;
      grid-template-areas:
          "imagen"
          "texto";
      background-color: #5D4954;
      height: fit-content;
      border-radius: 15px;
  }
  .center{
      display: grid;
      grid-template-columns: 1fr 350px 1fr;
      grid-template-rows: auto 509.7px auto;
      height: 100vh;
      padding-top: 68px;
  }
  .texto{
      padding: 15px;
      font-size: 18px;
  }
} 
